* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td{
  overflow: auto;
  text-overflow: ellipsis;
  /* max-width: 320px;
  min-width: 200px; */
}

tr{
  height: 30px;
}

img{
  height:8%;
  width:8%;
  border-radius: 20px;
}